html {
  height: 100%;
  width: 100% !important;
  font-family: 'Inter';
  font-style: normal;
}

body {
  height: 100%;
  width: 100%;
}

div#root {
  height: 100%;
  width: 100%; /* remove this line to see div.app is no more 100% height */
  
}
.appContainer {
  height: 100%;
}

/* Start of header */
.headerContainer {
  background-image: url("../img/1.png");
  background-position: center;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25%;
  padding: 30px;
}

.headerContainer h3 {
  font-size: 20px;
  margin: 0;
}

.headerContainer h1 {
  margin: 0;
  font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 20.7947px;
line-height: 24px;
}
/* End of header */

/* Start of Input */

.searchCont {
  
  display: flex;
  justify-content: center;

}
input {
    background-image: url('../img/search.svg');
    background-repeat: no-repeat;
    background-position: 5% 50%;
    width: 50%;
    height: 100%;
}
.searchBar {
  height: 40px;
  margin-top: -20px;
 
}

.searchForm input{
  padding-left: 30px; /* adjust as needed */
  font-size: 1.3rem;
}
.searchForm {
  width: 100%;
  
  
 
  
}
#movieName::placeholder {
  font-size: 1.2rem;
  padding: 20px;
}
input {
    padding-left: 4vw;
    padding-bottom: 0.3vw;
    font-size: 40px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border: 1px solid #D1D5DB;
    width: 100%;
}

input:focus {
   outline: 1px solid #D1D5DB;
   
}
textarea:focus {
    border: none;
    

}
form button {
    border: 1px solid #D1D5DB;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    color: black;
    font-size: 2vh;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
    transition-duration: 0.4s;
}

#submit:hover {
    background-color: #8a8c8f;
    border: 1px solid #8a8c8f;
}

button {
  width: 40%;
}

.col img {
    width: 30px;
    height: 30px;
}
.noMovieSearched {
  display: flex;
  height: 60%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.noMovieSearched img{
 width: 15%;
}
.noMovieSearched h1 {
  font-size: 2.5rem;
  color: #DFDDDD
}

.letsAddMovies {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.letsAddMovies h1 {
  font-size: 2.5rem;
  color: #DFDDDD
}

.buttonSearchMovie {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  
}

.buttonSearchMovie p {
  color: #363636;
font-weight: 700;
font-size: 14px;
line-height: 20px;
margin-left: 5px;

  
}

.buttonSearchMovie button {
  width: 20px;
  height: 20px;

  border: none;
  background-color: white;
  color: gray;
  background-image: url('../img/button.svg');
  background-size: cover;
  transition-duration: 0.4s;
  
}

.buttonSearchMovie button:hover {
  transform: scale(1.2);
}
/* End of Input */


@media only screen and (min-width: 800px) {
  .movieContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  
  }

  .movieName h1 {
    width: 200px;
    color: black;
    font-size: 20px;
    font-weight: 700;
}
}


